@import './sections/header';
@import './sections/showcase';
@import './sections/brands';
@import './sections/features';
@import './sections/howsection';
@import './sections/info';
@import './sections/reviews';
@import './sections/faq';
@import './sections/footer';
@import './sections/contact';
@import './sections/map';
@import './sections/contactfooter';
@import './sections/themes';

