@keyframes bounce-right{
    0%, 20%, 50%, 80%, 100%{ transform:translateX(0); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
}
@keyframes bounce-left{
    0%, 20%, 50%, 80%, 100%{ transform:translateX(0); }
    40% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
}
.bounce-left{
    animation: bounce-left 0.8s ease infinite;
}
.bounce-right{
    animation: bounce-right 0.8s ease infinite;
}
#how{
    background-color: $gray-100;
    padding: 50px 0;

    

    .how-title{
        display: flex;
        justify-content: center;
    }

    

    .how-content{
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 50px;
        margin: 30px 0;
        align-items: center;

        .slides {
            display: flex; 
            justify-content: space-between;

            .opacity-pic{
                opacity: 0.8;
            }
        }
    }
    
    .how-btn{
        border: none;
        display: flex;
        background-color: #FFFFFF;
        color: $gray-700;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        left: 8rem;
        @include shadow-m;


        &:hover{
            background: $primary;
            color: white;
        }
        
    }

    .second-step{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 642px;

        
        
        @include md{
            margin: 0  0 0 260px;
        }

        @include lg{
            margin: 55px 0 0 355px;
        }
        
        
    }
}