#how {
  background-color: var(--how-bg);
  padding: 50px 0;

  .how-title {
    display: flex;
    justify-content: center;
  }

  .how-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 50px;
    margin: 30px 0;
    align-items: center;

    .slides {
      display: flex;
      justify-content: space-between;

      .opacity-pic {
        opacity: 0.8;
      }
    }
  }

  .how-btn {
    border: none;
    display: flex;
    background-color: var(--how-btn-bg);
    color: var(--how-btn-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    left: 8rem;
    @include shadow-m;

    &:hover {
      background: var(--how-btn-hover-bg);
      color: var(--how-btn-hover-color);
    }
  }

  .second-step {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 642px;

    @include md {
      margin: 0 0 0 260px;
    }

    @include lg {
      margin: 55px 0 0 355px;
    }
  }
}
